.landing-img {
    width: 100%;
    height: 100%;
}

.landing-big-container {
    display: flex;
    justify-content: center;
}

.landing-small-container {
    width: 60vw;
    display: flex;
}

.img-section {
    width: 50%;
}

.btn-text-section {
    width: 50%;
}

.text-section {
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.btn-section {
    display: flex;
    justify-content: center;
}

.enter-btn {
    width: 100px;
    height: 50px;
    color: #006238;
    border: 3px solid #006238;
    border-radius: 16px;
    opacity: 1;
    cursor: pointer;
}

.enter-btn:hover {
    background-color: #b7e7d2;
    color: black;
}

.greet-text {
    color: #006238;
    font-weight: normal;
    font-style: italic;
}